@font-face {
    src: url(fonts/Limelight-Regular.ttf);
    font-family: limelight;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/RobotoFlex-Regular.ttf);
}
* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

header{
    display: flex;
    padding: 1em;
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main img{
    width: 100%;
    height: auto;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

h1{
    text-align: center;
    font-family: Roboto;
    font-size: 3em;

}

#format{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}

.container{
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.content ul li{
    padding: 0.2em;
}

